:root{
    --cor-primaria:#070A14;
    --cor-secundaria: #0D121E;
    --cor-terciaria:#F0B35B;
    --cor-letras:#FFFFFF;
}
body{
    background-color: var(--cor-secundaria);
}

/*header*/
header{
    width: 100%;
    height: 70px;
    background-color: var(--cor-primaria);
    opacity: 90%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    
}

nav{
    display: flex;
    align-items: center;
    
}

#logos{
    width: 10%;
}

#logo{
    width: 60px;
    height: 60px;
    margin-right: 30px;
    margin-left: 15px;

}

#menu{
    width: 30%;
    color: var(--cor-letras);
    display: flex;
    gap: 20px;
}

#menu h1{
    font-size: 18px;
}

#menu h1:hover{
    cursor: pointer;
    color: var(--cor-terciaria);
}

#hamburguer{
    display: none;
}

#menuh{
    display: none;
    color: var(--cor-letras);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#menuh ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botaos{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#botao{
    background-color: var(--cor-terciaria);
    width: 211px;
    height: 38px;
    border-radius: 5px;
    margin-right: 20px;
}

#botao:hover{
    cursor: pointer;
    color: var(--cor-letras);
}

/*main*/

main{
    width: 100%;
    padding-top: 90px;
    
}

.apresentacao{
    color: var(--cor-letras);
    position: relative;
    height: 490px;
}

.apresentacao img{
    width: 100%;
    height: 480px;
    z-index: 2;
}

.conteudo-apresentacao{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.conteudo-apresentacao h1{
    font-size: 30px;
    font-weight: bolder;
    line-height: 50px;
    color: var(--cor-letras);
    text-shadow: .2px .2px var(--cor-letras);
}

.conteudo-apresentacao h3{
    font-size: 18px;
    line-height: 40px;
    color: var(--cor-letras);
    text-shadow: .2px .2px var(--cor-letras);
}

.conteudo-apresentacao #botao{
    margin-right:0;
}

/*main 2 */

.sobre{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 490px;
}

#imagem{
    width: 50%;
}

#imagem img{
    width: 90%;
    margin-left: 30px;
}

#sobre{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--cor-letras);
    margin: 20px;
}

#sobre h1{
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
}

#sobre h2{
    font-size: 17px;
    margin-bottom: 10px;
    opacity: 95%;
    
}

#sobre h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

/*Serviços*/
.serviços{
    background-color: var(--cor-letras);
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.serviços h1{
    font-size: 40px;
    font-weight: bold;
}

.serviços h2{   
    width: 50%;
    text-align: center;
    font-size: 16px;

}

.cards{
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cards img{
    width: 100%;
    height: 80%;
}

.card{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-right: 15px;
    border-radius: 10px;
    
}

.card-itens{
    display: flex;
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px
}

.card-itens p{
    font-size: 16px;
    font-weight: bold;
}

.card-itens button{
    background-color: var(--cor-primaria);
    color: var(--cor-letras);
    border-radius: 5px;
}

/*Equipe*/
.equipe{
    height: 505px;
}

.card-equipe{
    color: #6C6C6C;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    font-size: 44px;
    font-weight: bolder;
    row-gap: 10px
}

.card-equipe h2{
    z-index: 2;
    position:absolute ;
    color: var(--cor-terciaria);
    font-size: 25px;
    transform: translate(0%, 615%)
   
}

.foto-barbeiro img{
    z-index: 1;
}

.foto-barbeiro{
    display: contents;
}

.equipe-contato img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--cor-terciaria);
    border-radius: 7px;
    
}

/*Unidade*/
.unidade{
    height:490px;
    background-color: var(--cor-letras);
    width: 100%;
}

.unidade-conteudo{
    font-size: 40px;
    font-weight: bolder;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    row-gap: 10px
}

.unidade-barbearia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.unidade-barbearia img{
    width: 80%;
    
}

/* Deselvolvedor  */

footer{
    background-color: var(--cor-secundaria);
    width: 100%;
    height: 50px;
    color: var(--cor-letras);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.desenvolvedor{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-letras);
   
}

.desenvolvedor h1, a {
    color: var(--cor-letras);
    text-decoration: none;
    
}

.desenvolvedor h1:hover{
    color: var(--cor-terciaria);
}




/* Responsividade para tela mobiles */
@media screen and (max-width: 450px) {
    nav #botao{
        width: 139px;
    }

    #logos{
        width: 30%;
    }

    #hamburguer {
        display: flex;
        color: var(--cor-terciaria);
        width: 64%;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }

    #hamburguer .material-symbols-outlined{
        font-size: 40px;
    }

    #hamburguer .material-symbols-outlined:hover{
        cursor: pointer;
        color: var(--cor-letras);
    }

    #menu{
        display: none;
    }

    .conteudo-apresentacao{
        width: 100%;
    }

    .cards{
       width: 100%;
    }



}
